<div class="row">
  <div class="col-12">
    <div class="clearfix">
      <h1 class="float-left">
        Dashboard
      </h1>
    </div>
    <p>
      Welcome <%=current_user.name %>!
    </p>

  </div>
</div>
