<style>
  .header-wrap {
    justify-content: center!important;
    border-bottom: unset!important;
    padding-top: 2rem!important;
  }
  .header-buttons, .nav {display:none;}
</style>
<div class="form-wrap">
  <%= render partial: 'form' %>
  <div class="form-sign-help">
  <%= render "devise/shared/links" %>
  </div>
</div>
