<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Уважаемый пользователь сервиса K-comment, <%= @user_email %> !</h3>
    <p>
      Сообщаем Вам, что Ваши клиенты в данный момент не могут добавлять товары в Избранное и отправлять Избранное себе на почту.
    </p>
    <p>В настоящий момент нашим сервисом пользуется <%= @client_count %> Ваших клиентов</p>
    <p>Напоминаем Вам что в данный моменту у нас следующие тарифы:</p>
    <ul>
    <li>Тариф "Избранное Бесплатный" - Сервис "Избранное" бесплатный тариф (до 300 клиентов) - 0.0 руб/мес</li>		
    <li>Тариф "Избранное 300+"	- Сервис "Избранное" более 300 клиентов (300-1000) - 300.0	руб/мес</li>		
    <li>Тариф "Избранное 1000+"	- Сервис "Избранное" более 1000 клиентов - 600.0 руб/мес</li> 
    </ul>
    <p>
      Оплатить сервис Вы можете в <a href="<%= @url %>"><strong>личном кабинете</strong></a>.
    </p>
    <p>Спасибо за сотрудничество, хорошего Вам дня!</p>
    <p>___</p>
    <p>С уважением, служба поддержки </p>
    <p><a href="http://k-comment.ru"><strong>K-comment.ru</strong></a></p>
    <p>Сервисы для магазинов на платформе InSales.</p>
  </body>
</html>
