<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Уважаемый пользователь сервиса myappda, <%= @user_email %> !</h3>
    <p>
      Срок оплаты Вашей регистрации истекает <strong>через 2 дня</strong>.
    </p>
    <p>
      Оплатить сервис Вы можете в <a href="<%= @url %>"><strong>личном кабинете</strong></a>.
    </p>
    <p>Спасибо за сотрудничество, хорошего Вам дня!</p>
    <p>___</p>
    <p>С уважением, служба поддержки </p>
    <p><a href="http://myappda.ru"><strong>myappda.ru</strong></a></p>
  </body>
</html>
