<div class="row">
<div class="col-6">
<span class="">Заказ в Инсалес</span>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.number}}</li>
    <li class="list-group-item">{{order.payment_title}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item"> {{order.delivery_title}}</li>
    <li class="list-group-item">{{ order.comment }}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.creation_date}}</li>
    <li class="list-group-item">{{order.currency}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.delivery_date}}</li>
    <li class="list-group-item">{{order.delivery_description}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.delivery_price}}</li>
    <li class="list-group-item">{{order.delivery_time}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.payment_description}}</li>
    <li class="list-group-item">{{order.total_price}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.items_price}}</li>
    <li class="list-group-item">{{order.status}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.client_name}}</li>
    <li class="list-group-item">{{order.client_phone}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.client_email}}</li>
    <li class="list-group-item">{{order.discounts}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.financial_status}}</li>
    <li class="list-group-item">{{order.paid?}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{order.manager_comment}}</li>
    <li class="list-group-item">{{order.key}}</li>
</ul>
</div>
<div class="col-6">
<span class="">Клиент магазина</span>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{client.name}}</li>
    <li class="list-group-item">{{client.email}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{client.phone}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{ client.restocks }} все товары клиента для Сообщить о поступлении</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{ client.restocks_for_inform }} товары клиента для Сообщить о поступлении имеющие статус ready </li>
</ul>
<span class="">Пользователь приложения</span>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{user.name}}</li>
    <li class="list-group-item">{{user.email}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{user.phone}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{ user.logo }}</li>
</ul>
<span class="">Заявка</span>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{case.id}}</li>
    <li class="list-group-item">{{case.status}}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{case.items}}</li>
    <li class="list-group-item">{{ case.created_at }}</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{ case.casetype }}</li>
    <li class="list-group-item">{{ case.number }}</li>
</ul>
</div>


</div>