<% subject_template = Liquid::Template.parse(@template.subject) %>
<% content_template = Liquid::Template.parse(@template.content) %>

<% client_drop = Drops::Client.new(@client) %>
<% case_drop = Drops::Mycase.new(@mycase) %>
<% user_drop = Drops::User.new(current_user) %>
<% order_drop = Drops::InsalesOrder.new(@order) %>

<div class="template-preview d-flex row">
    <div class="subject px-0">
        <b>Тема письма: </b><%= subject_template.render('order' => order_drop,'mycase' => case_drop, 'client' => client_drop)%>
    </div>
    <div class="content px-0">
        <p><b>Содержание письма:</b></p>
        <div>
            <%= content_template.render('order' => order_drop, 'mycase' => case_drop, 'client' => client_drop, 'user' => user_drop).html_safe %>
        </div>
    </div>
</div>


