<% subject_template = Liquid::Template.parse(@template.subject) %>
<% content_template = Liquid::Template.parse(@template.content) %>

<% client_drop = Services::Drop::Client.new(@client) %>
<% case_drop = Services::Drop::Case.new(@case) %>
<% user_drop = Services::Drop::User.new(current_user) %>


<div class="row mx-auto">
    <pre>
    <code>
    <div><span class="h6">Тема письма:</span> <%= subject_template.render('case' => case_drop, 'client' => client_drop)%></div>
    
    <div class="h6">Содержание письма:</div> 
    <div><%= content_template.render('case' => case_drop, 'client' => client_drop, 'user' => user_drop).html_safe%></div>
    </code>
    </pre>
</div>

