<div class="index-header d-flex flex-column flex-md-row align-items-center p-2 px-md-4 bg-white box-shadow">
  <h4 class="my-0 mr-md-auto font-weight-normal text-center text-lg-left">
    <a class="logo-text" href="http://k-comment.ru">
      <strong>K-comment</strong>
    </a>
    <p>
      <small>сервис избранных товаров</small>
    </p>
  </h4>
  <nav class="my-md-0 mr-md-0 mr-lg-4 mb-3">
    <a class="p-2 text-dark" href="/#service">О сервисе</a>
    <a class="p-2 text-dark" href="/index-setup">Настройка</a>
    <a class="p-2 text-dark" href="/#price">Стоимость</a>
    <a class="p-2 text-dark" href="/#o-nas">О нас</a>
  </nav>
  <div class="clearfix">
    <%= link_to t('log_in'), new_session_path('user'), class: 'btn btn-primary float-left mr-2' %>
    <%= link_to t('sign_up'), new_registration_path('user'), class: 'btn btn-outline-primary float-right' %>
  </div>
</div>