<div class="h3 mt-3 mb-3 text-center">Включите сервис</div>
<ul class="mt-3 mb-3 list-group">
  <li class="list-group-item">
    <span>Перейдите в раздел <b>Настройки - Сервисы</b>.</span>
    <br />
    <img src="mes1.png" />
  </li>
  <li class="list-group-item">
    <span>Добавьте сервис.</span>
    <br />
    <img src="mes2.png" />
  </li>
  <li class="list-group-item">
    <span>Включите сервис.</span>
    <br />
    <img src="mes3.png" />
  </li>
</ul>
<div class="h3 mt-3 mb-3 text-center">Настройте шаблон сообщения</div>
<ul class="mt-3 mb-3 list-group">
  <li class="list-group-item">
    <span>Перейдите в раздел <b>Настройки - Сообщения - Шаблоны</b> и выберите Действия - Создать.</span>
  </li>
  <li class="list-group-item">
    <span>Внутри шаблона вы можете использовать переменные Liquid. Они такие же как и в insales. Примерный список вы можете посмотреть на вкладке Переменные Liquid</span>
  </li>
  <li class="list-group-item">
    <span>После сохранения шаблона письма Вы можете просмотреть как оно будет выглядить. Для этого выберите Заказ из списка и нажмите Просмотреть</span>
  </li>
</ul>
<div class="h3 mt-3 mb-3 text-center">Настройте событие при котором будет срабатывать оповещение клиента или менеджера</div>
<ul class="mt-3 mb-3 list-group">
  <li class="list-group-item">
    <span>Перейдите в раздел <b>Настройки - Сообщения - События</b> и выберите Действия - Создать.</span>
  </li>
  <li class="list-group-item">
    <span>Выберите статусы при которых должно происходить событие и какой шаблон должен быть использован.</span>
  </li>
  <li class="list-group-item">
    <span>После сохранения События - вы можете проверить его работу на вашем тестовом заказе. Для этого заказу в админ части магазина смените статус</span>
  </li>
  <li class="list-group-item">
    <span>В приложении можно посмотреть все события происходящие с заказами в магазине в разделе <b>Сообщения - Изменения статусов заказов</b></span>
  </li>
</ul>
