
<div class="container mb-5">
  <h1 class="display-4 text-center text-uppercase mt-5 mb-5">Настройка</h1>
  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-fill" id="docTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Основные</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="favorite-tab" data-bs-toggle="tab" data-bs-target="#favorite" type="button" role="tab" aria-controls="favorite" aria-selected="false">Избранное</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="restock-tab" data-bs-toggle="tab" data-bs-target="#restock" type="button" role="tab" aria-controls="restock" aria-selected="false">Сообщить о поступлении</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Сообщения</button>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <section><%= render partial: 'home/main_doc'%></section>
    </div>
    <div class="tab-pane" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">
      <section><%= render partial: 'home/favorite_doc'%></section>
    </div>
    <div class="tab-pane" id="restock" role="tabpanel" aria-labelledby="restock-tab"> В разработке </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
      <section><%= render partial: 'home/message_doc'%></section>
    </div>
  </div>
</div>

