<div class="index-header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white box-shadow">
  <h4 class="my-0 mr-md-auto font-weight-normal">
    <strong>K-comment</strong><br>
    <small>сервис избранных товаров</small>
  </h4>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/#service">О сервисе</a>
    <a class="p-2 text-dark" href="/index-setup">Настройка</a>
    <a class="p-2 text-dark" href="/#price">Стоимость</a>
    <a class="p-2 text-dark" href="/#o-nas">О нас</a>
  </nav>
  <%= link_to "Log in", new_session_path('user'), class: 'btn btn-primary' %>
  <%= link_to "Sign up", new_registration_path('user'), class: 'btn btn-outline-primary' %>
</div>
