<div class="row">
  <div class="offset-sm-2 col-sm-8 col-12">
    <div class="jumbotron">

        <h2 class="display-4"><%= t('.sign_in', :default => "Sign in") %></h2>

      <%= render partial: 'form' %>
      <p class="mt-2">
      <%= render "devise/shared/links" %>
      </p>
  </div>
</div>
