<div class="form-wrap">
  <%= render partial: 'form' %>
  <div class="form-sign-help">
  <%# START add reCAPTCHA %>
    <%= flash[:recaptcha_error] %>
    <%= recaptcha_v3(action: 'login', site_key: Rails.application.credentials.recaptcha_site_key) %>
  <%# END add reCAPTCHA %>
  </div>
  <div class="form-sign-help">
  <%= render "devise/shared/links" %>
  </div>
</div>
