<style>
  .header-wrap {
    justify-content: center!important;
    border-bottom: unset!important;
    padding-top: 2rem!important;
  }
  .header-wrap .navbar-toggler, .header-wrap .navbar-collapse {display:none!important;}
  .header-wrap .navbar {
    justify-content: center;
    display: flex;
    background: transparent;
  }
</style>
<div class="form-wrap">
  <%= render partial: 'form' %>
  <div class="form-sign-help">
  <%= render "devise/shared/links" %>
  </div>
</div>
