<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добрый день, <%= @fio%></h1>
    <p>Ваши товары из раздела избранное представлены ниже:</p>
    <table >
      <thead>
      <tr>
        <th>Название товара</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      <% @product_data.each do |pr| %>
        <tr>
          <td><%= link_to "#{pr[:title]}", @shopurl+"/product_by_id/"+pr[:insid].to_s, target: "_blank" %></td>
          <td><%=pr[:price] %></td>
        </tr>
      <% end %>
        </tbody>
    </table>
    <p>___</p>
    <p><%= @shoptitle %></p>
    <p>Спасибо что Вы с нами, хорошего дня!</p>
    <p></p>
    <p><a href="https://myappda.ru/" target="_blank" style="color:red;font-style: italic;">Отправлено через сервис "Myappda"</a></p>
  </body>
</html>
