 /*** styles for home pages ***/
.home-body {

    /*** Navbar ***/
    .navbar-light .navbar-nav .nav-link {
      margin-right: 25px;
      padding: 35px 0;
      color: var(--bs-dark) !important;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      transition: .5s;
    }
  
    .sticky-top.navbar-light .navbar-nav .nav-link {
      padding: 20px 0;
      color: var(--dark) !important;
    }
  
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
      color: var(--bs-primary) !important;
    }
  
    .navbar-light .navbar-brand img {
      transition: .5s;
    }
  
    @media (min-width: 1200px) {
      .navbar .nav-item .dropdown-menu {
          display: block;
          visibility: hidden;
          top: 100%;
          transform: rotateX(-75deg);
          transform-origin: 0% 0%;
          border: 0;
          border-radius: 10px;
          transition: .5s;
          opacity: 0;
      }
    }
  
    .dropdown .dropdown-menu a:hover {
      background: var(--bs-primary);
      color: var(--bs-white);
    }
  
    .navbar .nav-item:hover .dropdown-menu {
      transform: rotateX(0deg);
      visibility: visible;
      background: var(--bs-light) !important;
      transition: .5s;
      opacity: 1;
    }
  
    .collapse.navbar-collapse {
      transition: 0.5s;
    }
  
    @media (max-width: 992px) {
  
      .navbar.navbar-expand-lg button span {
          position: relative;
          z-index: 99;
      }
  
      .navbar {
          position: relative;
          background: var(--bs-light);
          z-index: 2;
      }
  
      .sticky-top.navbar-light {
          position: relative;
          background: var(--bs-white) !important;
          padding: 0 20px 20px 20px !important;
      }
  
      .sticky-top.navbar-light {
          background: transparent;
      }
  
      nav.navbar {
          padding: 0 30px 30px 0;
      }
  
      .navbar.navbar-expand-lg .navbar-toggler {
          padding: 10px 20px;
          border: 1px solid var(--bs-primary);
          color: var(--bs-primary);
      }
  
      .navbar-light .navbar-collapse {
          margin-top: 15px;
          border-top: 1px solid #DDDDDD;
      }
  
      .navbar-light .navbar-nav .nav-link,
      .sticky-top.navbar-light .navbar-nav .nav-link {
          padding: 10px 0;
          margin-left: 0;
          color: var(--bs-dark) !important;
      }
  
  
      .navbar-light .navbar-brand img {
          max-height: 45;
      }
  
      .hero-header {
          margin-top: -100px !important;
      }
    }
  
    @media (min-width: 992px) {
      .navbar-light {
          position: relative;
          // width: 100%;
          // top: 0;
          // left: 0;
          background: white;//transparent !important;
          // z-index: 999;
      }
      
      .sticky-top.navbar-light {
          position: fixed;
          background: var(--bs-light) !important;
      }
    }
    /*** Navbar End ***/
    //
    img {
      @extend .img-fluid;
      margin: 0 auto;
    }
    // override for the 'Home' navigation link
    .navbar-brand {
      font-size: inherit;
      }
  
    // THESE ARE EXAMPLES YOU CAN MODIFY
    // create your own classes
    // to make views framework-neutral
    .column {
      @extend .col-md-6;
      text-align: center;
    }
    .form {
      @extend .col-md-6;
    }
    .form-centered {
      @extend .col-md-6;
      text-align: center;
    }
    .submit {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-lg;
    }
  
    // apply styles to HTML elements
    // to make views framework-neutral
  
    section {
      @extend .row;
      margin-top: 20px;
    }
  
    // Styles for form views
    // using Bootstrap 4
    // generated by the rails_layout gem
    .authform {
      padding-top: 30px;
      max-width: 320px;
      margin: 0 auto;
    }
    .authform form {
      @extend .card;
      @extend .col-md-12;
      padding: 40px;
      @extend .bg-light;
      @extend .small;
    }
    .authform .right {
      float: right !important;
    }
    .authform .button {
      @extend .btn;
      @extend .btn-primary;
    }
    .authform fieldset {
      @extend .card;
    }
  
    .button-xs {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-sm;
    }
  
  
    .invoice_payertype,
    .invoice_paymenttype,
    .invoice_payplan {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
      display: flex;
    }
  
    .invoice_payertype .radio,
    .invoice_paymenttype .radio,
    .invoice_payplan .radio {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0;
      flex: 1 0 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: 0.25rem;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
      padding: 10px;
    }
  
    .invoice_payertype .radio input,
    .invoice_paymenttype .radio input,
    .invoice_payplan .radio input {
      margin-right: 10px;
    }
  
    .dropdown-user {
      text-align: center;
      min-width: 5rem;
    }
  
    .bg-primary {
      background-color: #1abc9c!important;
    }
  
    .page-section {
      padding: 6rem 0;
    }
    @media (max-width: 992px) {
      .page-section {
        padding: 3rem 0;
      }  
    }
    .row, section {
      --bs-gutter-x: 0;
      --bs-gutter-y: 0;
    }
    .carousel-inner {
      border: 1px solid #1abc9c;
      border-radius: 5px;
    }
    .form-wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    .form-sign-help {
      max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
  
  
  
    .list-group img {
      max-width: 100%;
      display: block;
      margin: 5px auto;
    }
    pre {
      white-space: pre;
    }
    .logo-text {
      color:black;
    }
    .logo-text:hover{
      text-decoration: none;
    }
  
    .card {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        border: 0;
    }
    .view {
        position: relative;
        overflow: hidden;
        cursor: default;
    }
    .view img {
        position: relative;
        display: block;
    }
    .rgba-white-slight, .rgba-white-slight:after {
        background-color: rgba(255,255,255,.1);
    }
    .view .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
    }
    .overlay .mask {
        opacity: 0;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    .overlay .mask:hover {
        opacity: 1;
    }
    pre {
      display: block;
      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 1.428571429;
      word-break: break-all;
      word-wrap: break-word;
      color: #323036;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
    }
    code {
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }
  
    .CodeMirror {
        background: #f8f9fa!important;
    }
  
    .logo_white {
      max-height: 50px
    }
  
    @media (max-width: 580px) {
      .logo_white {
          max-height:50px
      }
    }
  
    body {
      overflow-x: hidden
    }
  
    .js-whatsapp {
      padding: 0;
      z-index: 999;
      position: fixed;
      width: 140px;
      border: none;
      bottom: 0.5rem;
      box-sizing: border-box;
      right: 0.5rem;
      text-decoration: none;
      display: block;
      cursor: pointer;
      box-shadow: 0px 0px 5px #777777;
      background-color: #1ebea5;
      background-image: url(https://static.whatsapp.net/rsrc.php/yv/r/-r3j-x8ZnM7.svg);
      background-repeat: no-repeat;
      height: 40px
    }
  
    .messenger_icon {
      z-index: 999;
      position: fixed;
      bottom: 0.5rem;
      right: 0.5rem;
      max-width: 45px;
      text-align: center
    }
  
    .messenger_icon a img {
      cursor: pointer;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      margin-bottom: 3px
    }
  
    .messenger_icon .whatsapp img {
      background-color: #64bb26
    }
  
    .messenger_icon .telegram img {
      background-color: #55bef8
    }
  
  
    .bg-444444 {
      --bs-bg-opacity: 1;
      --bs-444444: 68, 68, 68;
      background-color: rgba(var(--bs-444444), var(--bs-bg-opacity)) !important
    }
  
    .form-control.disabled {
      background-color: #e9ecef;
      opacity: 1
    }
  
    .btn-our-color {
      border-color: #be3e09;
      background-color: #be3e09;
      color: white;
    }
    .btn-our-color:hover {
      background-color: #{shade-color(#be3e09, 20%)}; ;
      color: white;
    }
  
    /* Sidebar */
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 58px 0 0; /* Height of navbar */
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
      z-index: 600;
    }
  
    @media (max-width: 991.98px) {
      .sidebar {
        width: 100%;
      }
    }
    .sidebar .active {
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
  
    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: 0.5rem;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
  
  }