body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.admin-body {
  .sidebar {
    background-color: #38444f;
    min-width: 200px;
    height: 100vh;
  }
  .sidebar .logo {
    color: #feefcf;
    font-size: 1.5rem;
    padding: 0rem;
    img {
      max-width: 200px;
      padding: 0;
    }
  }
  .sidebar .nav-link {
    color: #fff;
  }
  .sidebar .nav-item.active .nav-link {
    background-color: #343a40;
  }

  .sidebar .nav-link:hover {
    background-color: #343a40;
  }
  .header, .footer {
    background-color: #f8f9fa;
  }
  .footer {
    margin-top: auto;
  }
  .d-table {
    border-spacing: 0 1rem; /* Add space between rows */
  }
  .fs-7 {
    font-size: 0.9rem!important;
  }
  .fs-8 {
    font-size: 0.8rem!important;
  }

/* CodeMirror elegant theme*/
.CodeMirror {
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  font-size: 12px;
}
.cm-s-elegant span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom { color: #762; }
.cm-s-elegant span.cm-comment { color: #262; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-meta { color: #555; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-variable { color: black; }
.cm-s-elegant span.cm-variable-2 { color: #b11; }
.cm-s-elegant span.cm-qualifier { color: #555; }
.cm-s-elegant span.cm-keyword { color: #730; }
.cm-s-elegant span.cm-builtin { color: #30a; }
.cm-s-elegant span.cm-link { color: #762; }
.cm-s-elegant span.cm-error { background-color: #fdd; }

.cm-s-elegant .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-elegant .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }



}