.body-main {
  margin-top:20px;
}
.container-fluid {
    padding-top: 15px;
}
.payplan-wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.invoice_payplan, .invoice_payertype, .invoice_paymenttype {
  -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}
.invoice_payplan .radio, .invoice_payertype .radio , .invoice_paymenttype .radio{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  padding: 10px;
}
.invoice_payplan .radio input , .invoice_payertype .radio input , .invoice_paymenttype .radio input {
    margin-right: 10px;
}
.dropdown-user {
text-align: center;
min-width: 5rem; 
}
