body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.admin-body {
  .sidebar {
    background-color: #0e0906;
    min-width: 200px;
    height: 100vh;
  }
  .sidebar .logo {
    color: #feefcf;
    font-size: 1.5rem;
    padding: 0rem;
    img {
      max-width: 200px;
      padding: 0;
    }
  }
  .sidebar .nav-link {
    color: #fff;
  }
  .sidebar .nav-item.active .nav-link {
    background-color: #343a40;
  }

  .sidebar .nav-link:hover {
    background-color: #343a40;
  }
  .header, .footer {
    background-color: #f8f9fa;
  }
  .footer {
    margin-top: auto;
  }
  .d-table {
    border-spacing: 0 1rem; /* Add space between rows */
  }
  .fs-7 {
    font-size: 0.9rem!important;
  }
  .fs-8 {
    font-size: 0.8rem!important;
  }
}